version: '3'
services:
  caddy:
    image: "caddy:2"
    hostname: caddy
    ports:
      - "8000:8070"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
  nats:
    image: "nats:2"
    hostname: nats
    command: --port 44222 --server_name "My Server"
    expose:
      - "44222"
  backend-service:
    build:
      context: ./backend-service
      dockerfile: Dockerfile
    command: -nats_url nats://nats:44222
    links:
      - nats
  frontend-service:
    hostname: frontend-service
    build:
      context: ./frontend-service
      dockerfile: Dockerfile
    command: -nats_url nats://nats:44222 -port 8090
    expose:
      - "8090"
    links:
      - nats
  application:
    hostname: application
    build:
      context: ./client
      dockerfile: Dockerfile
    expose:
      - "8080"
    links:
      - frontend-service
